<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ index }} - 검색</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='marketinghome.css') }}">

</head>
<body>


<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/search/{{index }}">{{ index }}</a>
        <ul class="pure-menu-list">
            <div class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></div>
        </ul>
    </div>
</div>

<form method="POST" action="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="text-align: center; display: block;">
    <p>Country  </p>
    {{ form.country(class="form-control mr-sm-2") }}
    <p>Title  </p>
    {{ form.title(class="form-control mr-sm-2") }}
    <p>Abstract  </p>
    {{ form.abstract(class="form-control mr-sm-2") }}
    <input class="login__button login__button--submit _loginSubmitButton" type="submit" value="okay">
  </nav>
</form>


<p></p>
<p>검색 결과</p>
{% if results: %}
{% for i in range(n) %}
    <p>No. {{ i+1 }}</p>
    <p>Country : {{ results[i][0] }} </p>
    <p>App. date : {{ results[i][1] }} </p>
    <p>Inventor : {{ results[i][2] }}</p>
    <p>Title : {{ results[i][3] }}</p>
    <p>Abstract : {{ results[i][4] }}</p>
    <p>Claim : {{ results[i][5] }}</p>
    <p> 링크</p>
{% endfor %}
{% else %}<p>검색을 진행하십시오</p>{% endif %}

</body>
</html>
